.action{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4px;
}
.action label{
  display: inline-block;
  width: 17%;
  text-align: center;
 
}
.action i{
  font-size: 0.85rem;
}

#canvas{
  background: #fff;
  display: block;
}
body{
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.icon1{
  color: green;
}
.eraser{
  color: red;
}
input[type="radio"]{
  display: none;
}

input:checked ~ .iconfont{
    /* font-size: 1.25rem;  */
    font-weight: bold;
}
input:checked ~ .iconfont.icon2{
  font-weight: bold;
  /* color: green; */
}
.clearall{
  cursor: pointer;
  color: green;
}
